{% extends "base.html" %}

{% block content %}

    <div class="row content">

        <section class="large-12 columns">
            <div class="row">

                {% set app_id = app_details[0]['id'] %}
                {% set app_name = app_details[0]['name'] %}
                {% set app_developer = app_details[0]['developer'] %}
                {% set app_icon = app_details[0]['icon'] %}
                {% set app_description = app_details[0]['description'] %}
                {% set app_downloads = app_details[0]['downloads'] %}
                {% set app_icon_url = "scripts/install/%s/%s"%(app_id, app_icon) %}

                <div class="large-3 medium-3 columns">
                    <img src="{{ url_for('static', filename=app_icon_url) }}">
                    <button class="button expand radius"><i class="fa fa-rocket"></i> Launch</button>
                    <button class="button radius alert expand"> <i class="fa fa-trash-o"></i> Uninstall</button>
                </div>

                <div class="large-9 medium-9 columns">
                    <h4>{{ app_name }}</h4>
                    <h6>by {{ app_developer }} </h6>
                    <p class="rating"><span class="label round">{{ app_downloads }}</span> Downloads</p>
                    <p>{{ app_description }}. </p>
                    <hr>

                    <h5>Screenshots</h5>
                    {% set screenShot1 = "scripts/install/%s/%s"%(assets.application_id, assets.screenShotOne) %}
                    {% set screenShot2 = "scripts/install/%s/%s"%(assets.application_id, assets.screenShotTwo) %}
                    {% set screenShot3 = "scripts/install/%s/%s"%(assets.application_id, assets.screenShotThree) %}
                    {% set screenShot4 = "scripts/install/%s/%s"%(assets.application_id, assets.screenShotFour) %}

                    <div class="row screenshots">
                        <div class="large-12 columns">
                            <div id="slider">
                                <figure>
                                    <img src="{{ url_for('static', filename=screenShot1) }}" alt>
                                    <img src="{{ url_for('static', filename=screenShot2) }}" alt>
                                    <img src="{{ url_for('static', filename=screenShot3) }}" alt>
                                    <img src="{{ url_for('static', filename=screenShot4) }}" alt>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <h5>Video</h5>
                    <div class="row screenshots">
                        <div class="large-12 columns">
                            {% set video = "scripts/install/%s/%s"%(assets.application_id, assets.video) %}
                            <embed src="{{ url_for('static', filename=video) }}" width="100%" height="400" scale="aspect" controller="true">
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <div class="row related">
        {% if related_apps|length > 0 %}
            <div class="large-12 columns">
                <h1><br>Related Apps</h1>
            </div>

            {% for app in related_apps %}
                {% set id = app['id'] %}
                {% set name = app['name'] %}
                {% set developer = app['developer'] %}
                {% set icon = app['icon'] %}
                {% set description = app['description'] %}
                {% set downloads = app['downloads'] %}
                {% set developer_url = '#' %}
                {% set icon_url = "scripts/install/%s/%s"%(id, icon) %}

                <div class="large-3 medium-2 columns">
                    <a href="{{ url_for('main.app_info', app_id=id) }}"><img src="{{ url_for('static', filename=icon_url) }}"></a>
                    <h4><a href="{{ url_for('main.app_info', app_id=id) }}"> {{ name }}</a> </h4>
                    <h6>by {{ developer }} </h6>
                    <p class="rating"><span class="label round">{{ downloads }}</span> Downloads</p>
                </div>

            {% endfor%}

        {% endif %}

        </div>

    </div>

{% endblock %}
