{% extends "base.html" %}

{% block content %}

	<div class="row">
	    <div class="large-12 columns">
	        <h1 class="text-center">BRCK Crisis Stack. </h1>
	    </div>
	</div>

	<div class="row content">

		{% for app in applications %}
			{% set app_id = app['id'] %}
			{% set app_name = app['name'] %}
			{% set app_developer = app['developer'] %}
			{% set app_icon = app['icon'] %}
			{% set app_description = app['description'] %}
			{% set downloads = app['downloads'] %}
			{% set icon_url = "scripts/install/%s/%s"%(app_id, app_icon) %}

			<section class="large-6 medium-6 small-12  columns">
		        <div class="row">

		            <div class="large-5 medium-5 columns">
		                <a class="app_logo" href="{{ url_for('main.app_info', app_id=app_id) }}">
		                    <img src="{{ url_for('static', filename=icon_url) }}"></a>
		                <button class="button expand radius"><i class="fa fa-rocket"></i>Launch</button>
		            </div>

		            <div class="large-7 medium-7 columns">
		                <h4><a href="{{ url_for('main.app_info', app_id=app_id) }}">{{ app_name }}</a> </h4>
		                <h6>by {{ app_developer }} </h6>
		                <p class="rating"><span class="label round">{{ downloads }}</span> Downloads</p>
		                <p>{{ app_description }}.</p>
		            </div>
		        </div>
		    </section>

		{% endfor%}

	    <div class="large-12 columns">
	        <h1 class="clearfix"><br>Not Installed</h1></div>

	    <section class="large-6 medium-6 small-12  columns download">
	        <div class="row">

	            <div class="large-5 medium-5 columns">
	                <a class="app_logo" href="#">
	                    <img src="{{ url_for('static', filename='assets/images/content/logo_crowdmap.svg') }}"></a>
	                <button class="button expand radius"><i class="fa fa-download"></i>Install</button>
	            </div>

	            <div class="large-7 medium-7 columns">
	                <h4>Crowdmap </h4>
	                <h6>by Ushahidi </h6>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	            </div>
	        </div>
	    </section>

	    <section class="large-6 medium-6 small-12  columns download">
	        <div class="row">
	            <div class="large-5 medium-5  columns">
	                <a class="app_logo" href="#">
	                    <img src="{{ url_for('static', filename='assets/images/content/logo_enketo.svg') }}"> </a>
	                <button class="button expand radius"><i class="fa fa-download"></i>Install</button>
	            </div>
	            <div class="large-7 medium-7  columns">
	                <h4>Smart Paper</h4>
	                <h6> by Enketo </h6>
	                <p>Deploy and conduct surveys that work without a connection, on any device </p>
	            </div>
	        </div>
	    </section>
	    <section class="large-6 medium-6 small-12   columns download">
	        <div class="row">
	            <div class="large-5 medium-5 columns">
	                <a class="app_logo" href="#">
	                    <img src="{{ url_for('static', filename='assets/images/content/logo_etherpad.svg') }}"></a>
	                <button class="button expand radius"><i class="fa fa-download"></i>Install</button>
	            </div>
	            <div class="large-7 medium-7 columns">
	                <h4>Etherpad-Lite </h4>
	                <h6> by Etherpad </h6>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	            </div>
	        </div>
	    </section>

	    <section class="large-6 medium-6 small-12  columns download">
	        <div class="row">
	            <div class="large-5 medium-5  columns">
	                <a class="app_logo" href="#">
	                    <img src="{{ url_for('static', filename='assets/images/content/logo_sahana.svg') }}"> </a>
	                <button class="button expand radius"> <i class="fa fa-download"></i>Install</button>
	            </div>
	            <div class="large-7 medium-7  columns">
	                <h4>Eden</h4>
	                <h6> by Sahana </h6>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	            </div>
	        </div>
	    </section>

	</div>

{% endblock %}
